In [10]:
import pandas as pd
df = pd.read_csv('smartphone-data.csv')
print(df.info())
print(df.head())
print(df.shape)
print(df.describe())
print("null:",df.isnull().sum())
print("duplicates:",df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6421 entries, 0 to 6420
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      6421 non-null   object
 1   F.Y                       6421 non-null   object
 2   QUARTER                   6421 non-null   int64
 3   P_NO                      6420 non-null   object
 4   PAYMENT TYPE              6421 non-null   object
 5   TYPE OF PRODUCT           6421 non-null   object
 6   Quantity                  6421 non-null   int64
 7   Price                     6421 non-null   float64
 8   Amount                    6421 non-null   float64
 9   TYPE OF ACCESSORY/MOBILE  6421 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 501.8+ KB
None
         Date        F.Y  QUARTER     P_NO PAYMENT TYPE TYPE OF PRODUCT  \
0  01-04-2018  2018-2019        1   P/A/36         CASH       ACCESSORY
1  01-04-2018  2018-2019        1   P/A/47         CASH       ACCESSORY
2  01-04-2018  2018-2019        1  P/M/A34       CREDIT          MOBILE
3  01-04-2018  2018-2019        1  P/M/A42       CREDIT          MOBILE
4  01-04-2018  2018-2019        1  P/M/A42        DEBIT          MOBILE

   Quantity    Price    Amount TYPE OF ACCESSORY/MOBILE
0         1  2042.38   2542.38                    COVER
1         1  2042.38   2118.64         WIRELESS HEADSET
2         1  2042.38  13303.58             BUDGET PHONE
3         1  2042.38  51696.43           FLAGSHIP PHONE
4         1  2042.38  51696.42           FLAGSHIP PHONE
(6421, 10)
           QUARTER     Quantity          Price         Amount
count  6421.000000  6421.000000    6421.000000    6421.000000
mean      2.249338     1.058246   18295.175739   19255.968355
std       1.000452     0.949686   19855.194755   20608.895584
min       1.000000     1.000000     410.710000     915.260000
25%       1.000000     1.000000    5026.780000    5892.860000
50%       2.000000     1.000000   13776.780000   14284.820000
75%       3.000000     1.000000   20919.640000   21419.640000
max       4.000000    30.000000  104767.860000  230803.570000
null: Date                        0
F.Y                         0
QUARTER                     0
P_NO                        1
PAYMENT TYPE                0
TYPE OF PRODUCT             0
Quantity                    0
Price                       0
Amount                      0
TYPE OF ACCESSORY/MOBILE    0
dtype: int64
duplicates: 665

In [8]:
df = df.drop_duplicates()

print("duplicates removed", df.shape)

duplicates removed (5756, 10)

In [11]:
# Final checks
print(df.info())
print(df.isnull().sum())  # Confirm no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6421 entries, 0 to 6420
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      6421 non-null   object
 1   F.Y                       6421 non-null   object
 2   QUARTER                   6421 non-null   int64
 3   P_NO                      6420 non-null   object
 4   PAYMENT TYPE              6421 non-null   object
 5   TYPE OF PRODUCT           6421 non-null   object
 6   Quantity                  6421 non-null   int64
 7   Price                     6421 non-null   float64
 8   Amount                    6421 non-null   float64
 9   TYPE OF ACCESSORY/MOBILE  6421 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 501.8+ KB
None
Date                        0
F.Y                         0
QUARTER                     0
P_NO                        1
PAYMENT TYPE                0
TYPE OF PRODUCT             0
Quantity                    0
Price                       0
Amount                      0
TYPE OF ACCESSORY/MOBILE    0
dtype: int64